//- Comment s'y rendre
mj-section(background-color='#dfdfdf')
    mj-column
        mj-text(width='530px' font-size='18px' font-weight='700' color='#944694' mj-class='d-lieu' text-transform='uppercase') Comment s'y rendre ?
        mj-text(width='530px' padding-top='0' padding-bottom='0' mj-class='d-lieu') #[b(style='color:#944694') Accès Métro :] Ligne 2 - station Tourcoing Centre.
        mj-text(width='530px' padding-top='0' padding-bottom='0' mj-class='d-lieu') #[b(style='color:#944694') Accès Tramway :] Terminus Tourcoing Centre.
        mj-text(width='530px' padding-top='0' padding-bottom='0' mj-class='d-lieu') #[b(style='color:#944694') Accès Bus : Gare] routière de Tourcoing.
        mj-text(width='530px' padding-top='0' padding-bottom='0' mj-class='d-lieu') #[b(style='color:#944694') Accès Train :] Gare de Tourcoing puis station de Métro Tourcoing Centre.
        mj-text(width='530px' padding-top='0' padding-bottom='0' mj-class='d-lieu') #[b(style='color:#944694') Accès Voiture :] Tourcoing centre.
        mj-spacer(width='530px' height='10px')/